<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokenize</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Babylonica&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    <!-- Global -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- New Token Page -->
    <link rel="stylesheet" href="/styles/new_token.css" />
  </head>
  <body>
    <!-- NAV -->
    <nav class="nav-bar">
      <div class="nav-container">
        <ul>
          <li>
            <a
              href="/new_account?signUpMode=true"
              class="<%= signUpMode == 'true' ? 'selected' : '' %>"
              >Create Account</a
            >
          </li>
          <li>
            <a
              href="/new_account?signUpMode=false"
              class="<%= signUpMode == 'false' ? 'selected' : '' %>"
              >Sign In</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- NEW TOKEN Section -->
    <section class="new-token">
      <div class="form-container">
        <form action="/new_account" method="POST" id="submitAccountDetails">
          <% if(signUpMode === "true"){ %>
          <label for="userName">Username</label>
          <input type="text" name="userName" />
          <% } %>
          <label for="task">Email</label>
          <input type="text" name="task" />
          <label for="from">Password</label>
          <input type="text" name="from" id="password" />
          <% if(signUpMode === "true"){ %>
          <label for="to">Confirm Password</label>
          <input type="text" name="to" id="confirmPassword" />
          <% } %>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
    <% if(signUpMode == "true") { %>
    <script src="/js/script.js"></script>
    <% } %>
  </body>
</html>
