<%- include('includes/head') %>
<!-- NAV -->
<nav class="nav-bar">
  <div class="nav-container">
    <h1><%= userName %></h1>
    <ul>
      <li><a href="/">Tokens</a></li>
      <li>
        <a href="/new" class="selected">New Token</a>
      </li>
      <li><a href="/my_tokens">My Token</a></li>
    </ul>
  </div>
</nav>
<!-- NEW TOKEN Section -->
<section class="new-token">
  <div class="form-container">
    <form action="/new" method="POST">
      <label for="name">Task</label>
      <input type="text" name="name" />
      <label for="from">From</label>
      <input type="text" name="from" />
      <label for="to">To</label>
      <input type="text" name="to" />
      <button type="submit">Submit</button>
    </form>
  </div>
</section>
<%- include('includes/tail') %>
